<div class="col-12 col-lg-6 order-lg-2">
    <div class="row">
        <div class="col-12 col-sm-6">
            <nav aria-label="{{ 'sylius.ui.footer_informational_links'|trans }}" class="nav flex-column">
                <a class="nav-link" href="#">{{ 'sylius.ui.about'|trans }}</a>
                <a class="nav-link" href="#">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
                <a class="nav-link" href="#">{{ 'sylius.ui.privacy_policy'|trans }}</a>
                <a class="nav-link" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
            </nav>
        </div>

        <div class="col-12 col-sm-6">
            <nav aria-label="{{ 'sylius.ui.footer_help_links'|trans }}" class="nav flex-column mb-5">
                <a class="nav-link" href="#">{{ 'sylius.ui.faq'|trans }}</a>
                <a class="nav-link" href="#">{{ 'sylius.ui.delivery_and_shipping'|trans }}</a>
                <a class="nav-link" href="#">{{ 'sylius.ui.returns_policy'|trans }}</a>
            </nav>
        </div>
    </div>
</div>
