{% extends '@SyliusCore/Email/layout.html.twig' %}

{% block subject %}
    {{ 'sylius.email.password_reset.subject'|trans({}, null, localeCode)|raw }}
{% endblock %}

{% block content %}
    {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
        {% set url = sylius_channel_url(path('sylius_shop_password_reset', { 'token': user.passwordResetToken, '_locale': localeCode }), channel) %}
    {% endif %}

    <div style="text-align: center; font-family: Arial, sans-serif; color: #333; margin-bottom: 40px;">
        <h2 style="color: #1abb9c; font-size: 24px; margin-bottom: 10px;">
            {{ 'sylius.email.password_reset.hello'|trans({}, null, localeCode) }} <strong>{{ user.username }}</strong>
        </h2>

        <p style="font-size: 16px; color: #555; margin-bottom: 20px;">
            {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
                {{ 'sylius.email.password_reset.to_reset_your_password'|trans({}, null, localeCode) }}
            {% else %}
                {{ 'sylius.email.password_reset.to_reset_your_password_token'|trans({}, null, localeCode) }}
            {% endif %}
        </p>

        {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
            <a href="{{ url|raw }}" style="display: inline-block; background-color: #1abb9c; padding: 16px 32px; color: #fff; font-weight: bold; font-size: 16px; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.15);">
                {{ 'sylius.email.password_reset.reset_your_password'|trans({}, null, localeCode) }}
            </a>
        {% else %}
            <p style="font-size: 16px; color: #000; font-weight: bold;">
                {{ 'sylius.email.password_reset.token'|trans({}, null, localeCode) }}: {{ user.passwordResetToken }}
            </p>
        {% endif %}
    </div>
{% endblock %}
